{% extends "base.html" %}
{% block content %}
<hr noshade>

{% for message in messages %}
    {{ message }}
{% endfor %}

<div class="site__container">
    <div class="grid__container">
        <form method="post" action="{% url 'login' %}" class="form form--login">
            {% csrf_token %}
            {{ form.id }}
            <div class="login-form">
                <div class="username">{{ form.username }}</div>
                <div class="password">{{ form.password }}</div>
            </div>
            <input type="submit" value="login" />
        </form>
    </div>
</div>
{% endblock %}

{% block navsidebar %}
{% endblock %}
