{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load chores_extras %}
{% load staticfiles %}

{% block title %}
    <meta charset="utf-8">
    <title>Chores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="chores">
    <meta name="author" content="Matthew Odle">
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>All Chores</h1>
</div>

{% for message in messages %}
    {% if message.tags == 'info' %}
        <p style="color:red; font-weight:bold; font-size:3em;">{{ message }}</p><br>
        <p><img src="{% static 'bootstrap/img/blueman.png' %}"></p>
    {% else %}
        <p style="font-weight:bold;">{{ message }}</p>
    {% endif %}
{% endfor %}

<form action="" method="POST">
{% csrf_token %}
    {{ search_form }}
    <input type="submit" class="btn" value="Apply &raquo;"/>
    <a class="btn" href="{% url 'clear_all_chores_filter' %}">Clear &raquo;</a></p>
</form>

<div class="hero-unit">
    <h1>Overdue</h1>
</div>
{% for chore in chores %}
    {% if chore.last_completed_date|overdue:chore.frequency_in_days > 0 %}
        {% if chore.last_completed_date|overdue:chore.frequency_in_days < 999 %}
            {% include "chore_block.html" %}
        {% endif %}
    {% endif %}
{% endfor %}

<div class="hero-unit">
    <h1>Due Today</h1>
</div>
{% for chore in chores %}
    {% if chore.last_completed_date|overdue:chore.frequency_in_days = 0 %}
        {% include "chore_block.html" %}
    {% endif %}
{% endfor %}

<div class="hero-unit">
    <h1>Upcoming</h1>
</div>
{% for chore in chores %}
    {% if chore.last_completed_date|overdue:chore.frequency_in_days < 0 %}
        {% include "chore_block.html" %}
    {% endif %}
{% endfor %}

<div class="hero-unit">
    <h1>New / Never Completed</h1>
</div>
{% for chore in chores %}
    {% if chore.last_completed_date|overdue:chore.frequency_in_days = 999 %}
        {% include "chore_block.html" %}
    {% endif %}
{% endfor %}




{% endblock %}
