{% load chores_extras %}
{% load staticfiles %}

<div class="chore_block chore_{{ chore.priority }} notSelectable" id="{{ chore.slug }}">
        <div class="chore_title priority_{{ chore.priority }} notSelectable">{{ chore.title }}</div>
        <div class="chore_complete_button notSelectable" id="{{ chore.slug }}" onClick="mark_chore_done(this.id)">
            &#x2713;
        </div>
        <!--last completed-->
        <div class="right_chore_block notSelectable">
            <div id="chore_details_{{ chore.slug }}" class="notSelectable">
                {% if chore.last_completed_date|overdue:chore.frequency_in_days != 999 %}
                    <div class="chore_last_completed notSelectable">
                        <span class="user-plaque notSelectable">
                        {{ chore.last_completed_by.username|upper|slice:":2" }}</span>
                        <span class="notSelectable">{{ chore.last_completed_date|date:"D" }},
                            {{ chore.last_completed_date|date }}
                        </span>
                    </div>
                    <div style="clear:both;"></div>
                {% endif %}
                    <div class="chore_category notSelectable">
                        {% if chore.category %}{{ chore.category }}{% else %}No Category{% endif %}
                    </div>
                    <div style="clear:both;"></div>
                    <div class="chore_timing">
                        {% if chore.last_completed_date|overdue:chore.frequency_in_days = 999 %}
                            <img class="notSelectable" src="{% static 'bootstrap/img/alarm_grey.png' %}" height="10em" width="10m">
                        {% elif chore.last_completed_date|overdue:chore.frequency_in_days = 0 %}
                            <img class="notSelectable" src="{% static 'bootstrap/img/alarm_yellow.png' %}" height="10em" width="10em">
                        {% else %}
                            <img class="notSelectable" src="{% static 'bootstrap/img/alarm_red.png' %}" height="10em" width="10em">
                            <span class="notSelectable">
                                {{ chore.last_completed_date|overdue:chore.frequency_in_days }}
                            </span>
                        {% endif %}
                        <img class="notSelectable" src="{% static 'bootstrap/img/repeat.png' %}" height="12em" width="12em">
                        <span class="notSelectable">{{ chore.frequency_in_days }}</span>
                    </div>
            </div>
            <div id="results_{{ chore.slug }}" class="chore_results notSelectable"></div>
        </div>
    <div style="clear:both;"></div>
</div>
