{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load chores_extras %}
{% load staticfiles %}

{% block content %}
<div class="hero-unit">
    <h1>{{ user.username }}'s Chores</h1>
    {% for s in score %}
        <span>Points: {{ s.current_score }}</span>
    {% endfor %}
</div>

{% for message in messages %}
    {% if message.tags == 'info' %}
        <p style="color:red; font-weight:bold; font-size:3em;">{{ message }}</p><br>
        <p><img src="{% static 'bootstrap/img/blueman.png' %}"></p>
    {% else %}
        <p style="font-weight:bold;">{{ message }}</p>
    {% endif %}
{% endfor %}

<div class="container-fluid">
    <button type="button" class="btn" data-toggle="collapse" data-target=".newpost-collapse">&#x25B2;&#x25BC;</button>
    <br><br>
    <div class="newpost-collapse collapse">
        <form method="POST" action="">
            {% csrf_token %}
            {{ form }}
            <p>
                <input class="btn" type="submit" value="Submit &raquo;" id="submit"/>
            </p>
        </form>
    </div>
</div>

<hr noshade>
{% for chore in chores %}
{% if chore.last_completed_date|overdue:chore.frequency_in_days >= 0 %}
    <div class="row-fluid">
        <div class="span12">
            <p><b>{{ chore.title }}</b> - <span class="small-caps-header">{{ chore.category }}</span></p>
            {% if chore.last_completed_date|overdue:chore.frequency_in_days != 999 %}
                <p>Last Completed by <span class="small-caps-header" style="color:green; font-weight:bold">{{ chore.last_completed_by }}</span> on
                <span class="small-caps-header">{{ chore.last_completed_date|date:"l" }}, {{ chore.last_completed_date|date }}</span></p>
            {% endif %}
            <p>
                {% if chore.last_completed_date|overdue:chore.frequency_in_days = 999 %}

                {% elif chore.last_completed_date|overdue:chore.frequency_in_days = 0 %}
                    Due: <span class="small-caps-header">Today</span> |
                {% else %}
                    <span style="color:red; font-weight:bold">Overdue:</span> <span class="small-caps-header">{{ chore.last_completed_date|overdue:chore.frequency_in_days }} day(s)</span> |
                {% endif %}
                Frequency: <span class="small-caps-header">{{ chore.frequency_in_days }} day(s)</span>
            </p>
            <p>Priority:
            {% if chore.priority = 3 %}
                <span class="small-caps-header" style="color:red; font-weight:bold">{{ chore.get_priority_display }}</span>
            {% elif chore.priority = 2 %}
                <span class="small-caps-header" style="color:#FFB90F; font-weight:bold">{{ chore.get_priority_display }}</span>
            {% else %}
                <span class="small-caps-header" style="color:green; font-weight:bold">{{ chore.get_priority_display }}</span>
            {% endif %}
            </p>
            <p><a class="btn" href="{% url 'mark_chore_done' chore.slug %}">&#x2714;</a></p>
            <hr>
        </div><!--/span-->
    </div><!--/row-->
{% endif %}
{% endfor %}

{% endblock %}

{% block navsidebar %}
{% endblock %}
