{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load chores_extras %}
{% load staticfiles %}


{% block content %}
<div class="hero-unit">
    <h1>{{ user.username|title }}'s Chores</h1>
    {% for s in score %}
        <div id="current_score" style="color:green">{{ s.current_score }}</div>
    {% endfor %}
</div>

<!--<p><img src="{% static 'bootstrap/img/blueman.png' %}"></p>-->

<div class="new_post_block" onclick="location.href='{% url 'add_chore' %}'">
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red">
            <f class="large material-icons">+</f>
        </a>
    </div>
</div>

{% for chore in chores %}
    {% if chore.last_completed_date|overdue:chore.frequency_in_days >= 0 %}
        {% include "chore_block.html" %}
    {% endif %}
{% endfor %}



{% endblock %}

{% block navsidebar %}
{% endblock %}
