{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load chores_extras %}

{% block title %}
    <meta charset="utf-8">
    <title>Rewards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="rewards">
    <meta name="author" content="Matthew Odle">
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>All Rewards</h1>
</div>

{% for message in messages %}
    <p style="color:red; font-weight:bold;">{{ message }}</p>
{% endfor %}

<p>Current points - {% if score %}{{ score.current_score }}{% else %}0{% endif %}</p>

<form action="" method="POST">
{% csrf_token %}
    {{ rewards_form }}
    <input type="submit" class="btn" value="+"/>
</form>
<hr>
{% for reward in rewards_set %}
    {{ reward.title }} - {{ reward.value }}
    <a class='btn' href="{% url 'redeem_reward' reward.slug %}"
       onclick="return confirm('Are you sure?')">Redeem</a>
    <a class='btn' href="{% url 'delete_reward' reward.slug %}"
       onclick="return confirm('Are you sure?')">&#x2718;</a>
    <hr>
{% endfor %}

{% endblock %}
