{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load chores_extras %}

{% block content %}
{% if category_chores %}
    <div class="hero-unit">
        <h1>{{ category.title }}</h1>
    </div>
    <div class="new_post_block" onclick="location.href='{% url 'add_chore' %}'">
        <div class="fixed-action-btn" style="bottom: 24px; right: 24px;">
            <a class="btn-floating btn-large red">
                <f class="large material-icons">+</f>
            </a>
        </div>
    </div>

    {% for chore in category_chores %}
        {% if chore.last_completed_date|overdue:chore.frequency_in_days >= 0 %}
            {% include "chore_block.html" %}
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
