{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load chores_extras %}

{% block title %}
    <meta charset="utf-8">
    <title>Chores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="all chores history">
    <meta name="author" content="Matthew Odle">
{% endblock %}

{% block content %}
<div class="hero-unit">
    <h1>History</h1>
</div>

<form action="" method="POST">
{% csrf_token %}
    {{ search_form }}
    {% for message in messages %}
        <a class="btn" href="{% url 'clear_view_history_filter' %}">&#x2718; {{ message }}</a>
    {% endfor %}
</form>

<ul class="no-bullets">
    {% for chore in chores_history %}
    <li style="background-color:{% cycle 'lightblue' '#E4DCCB' %}; padding: 0 .3em">
        <b>{{ chore.chore }} </b> - {{ chore.chore.category }} |
        {{ chore.completed_date|date }} |
        {{ chore.user }} |
        <span style="color:green; font-weight:bold">+{{ chore.score }}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}
