{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load chores_extras %}

{% block title %}
    <meta charset="utf-8">
    <title>Chores</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="all chores history">
    <meta name="author" content="Matthew Odle">
{% endblock %}

{% block content %}
<form action="" method="POST">
{% csrf_token %}
    {{ search_form }}
    <input type="submit" class="btn" value="&#x21b2;"/>
    <a class="btn" href="{% url 'clear_view_history_filter' %}">&#x2718;</a></p>
</form>

<div class="hero-unit">
    <h1>History</h1>
</div>

<table>
    <tr><th>Chore</th><th>Category</th><th>Completed On</th><th>By</th><th>Points</th></tr>
    {% for chore in chores_history %}
    <tr>
        <td style="padding:0 1em"><b>{{ chore.chore }} </b></td>
        <td style="padding:0 1em">{{ chore.chore.category }}</td>
        <td style="padding:0 1em">{{ chore.completed_date}}</td>
        <td style="padding:0 1em">{{ chore.user }}</td>
        <td style="padding:0 1em">{{ chore.score }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
